<header class="main-header">
  <div class="header-top-border"></div>
  <h1>1 ₾ რეიკი = 1 ქულას</h1>
</header>
<div class="cash-games-container">
  <div class="cash-games-header-container">
    <h1 class="cash-games-header">ჰოლდემის TOP20 ლიდერბორდი</h1>
    <img src="../../assets/images/example-icon.png" alt="" />
  </div>
  <app-leaderboard></app-leaderboard>
  <div class="icon-legend">
    <app-icon-legend></app-icon-legend>
  </div>
  <p class="legend-footer">
    * ლიდერბორდის შედეგები განახლდება <a href=""> პოკერის ლობიში</a>
  </p>
</div>
<app-additional-info></app-additional-info>
<div class="terms-conditions">
  <app-terms-conditions></app-terms-conditions>
</div>
<section class="promotions">
  <h1>მსგავსი აქციები</h1>
  <app-slider></app-slider>
</section>
