<main>
  <header>
    
    <img class="banner" src="../assets/images/banner.jpg" alt="banner" />
    <div class="popup-wrap">
      <div class="popup-close">
        <img style="width:12px" src="../assets/images/x-solid.svg" alt="">
      </div>
    </div>
  </header>
  <section class="body-container">
    <div class="slot-dates">
      <p class="slot-text">სლოტები</p>
      <p class="slot-date">10 იანვარი - 12 მარტი</p>
    </div>
    <div class="prizes-info-header">
      <h2>მოიპოვე 10 საგზურიდან ერთ-ერთი</h2>
      <p>მოხვდი პოკერის ფესტივალზე მალტაში</p>
    </div>
    <section class="slot-games-dates">
      <app-dates-btn
      class="test"
        (click)="toggleBtn()"
        [routerLink]="item.key"
        *ngFor="let item of datesArr"
        [key]="item.key"
        [btnInfo]="item"
        [isActive]="isActive"
      ></app-dates-btn>
    </section>
    <section class="game-stages">
      <router-outlet></router-outlet>
    </section>
  </section>
  <footer>
    <button class="footer-btn">ითამაშე</button>
  </footer>
</main>

